@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModel = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var headlinehContent = Model?.Content.Value<string>("headlinehContent");
}

@if(!string.IsNullOrEmpty(headlinehContent))
{
    <h1>@headlinehContent</h1>
}