@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{


}

<div class="container">
    <p>© Onatrix. All Rights Reserved. Credits to</p><p class="hex">Themesflat</p>
</div>